@import url("https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Fjalla+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Anton&display=swap");
* {
  box-sizing: border-box;
  margin: 0;
  outline: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-thumb {
  background: linear-gradient(transparent, #051d2b);
  border-radius: 40px;
}

body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: #fff;
  background-color: #010101;
}

nav {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: left;
  padding: 30px 10%;
  background-image: linear-gradient(to left, rgba(255, 255, 255, 0.856), rgba(255, 255, 255, 0));
}

nav {
  height: 100px;
}

.nav__links {
  list-style: none;
  display: flex;
  margin-right: 20px;
}
.nav__links li {
  border-radius: 3px;
  margin: 0 20px;
}

.nav__links li a,
button {
  padding: 10px 15px;
  transition: all 0.3s linear 0s;
}

.nav__links li a:hover {
  color: #0088a9;
}

.link a {
  font-size: 16px;
  position: relative;
  transition: all 1s;
}

.link a:after {
  content: "";
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  height: 2px;
  width: 100%;
  background-color: #0088a9;
  transform-origin: right;
  transform: scaleX(0);
  transition: transform 0.3s linear;
}

.link a:hover:after {
  transform-origin: left;
  transform: scaleX(1);
}

.logo {
  height: 40px;
  font-size: 55px;
  color: #fff;
  transition: all 1s;
}
.logo .logo:hover {
  transform: scale(1.2);
  transition: all 1s;
}

nav li,
a,
button {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 16px;
  color: #fff;
  text-decoration: none !important;
}

.span1 {
  display: flex;
  margin: 10;
  padding: 10px 20px;
  background-color: #0088a9;
  border: none;
  border-radius: 50px;
  cursor: pointer;
  -webkit-animation-delay: 3s;
          animation-delay: 3s;
  -webkit-animation-iteration-count: 1;
          animation-iteration-count: 1;
}

.boton-nav {
  transition: all 1s;
}

.boton-nav:hover {
  transform: scale(1.09);
  transition: all 1s;
}

nav ul li {
  display: inline-block;
}

li a.active,
li a:hover {
  transition: 0.5s;
}

.checkbtn {
  font-size: 30px;
  color: #0088a9;
  line-height: 20px;
  cursor: pointer;
  display: none;
}

#check {
  display: none;
}

/* fin nav */
/* titulo inicio */
.contenedor-title {
  font-family: "Bebas Neue", cursive;
  font-weight: 900;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 50px;
}
.contenedor-title h1 {
  background-image: url("https://media0.giphy.com/media/l0MYwXxKiwW39Dwcw/giphy.gif?cid=ecf05e479jsyw8ilrhr232rbm28u4ltrujhcs7q08s8lnu44&rid=giphy.gif&ct=g");
  font-weight: 900;
  background-position: bottom;
  background-size: cover;
  color: transparent;
  -moz-background-clip: text;
  -webkit-background-clip: text;
  font-size: 26px;
  line-height: 1;
  cursor: pointer;
}

/* titulo fin */
/* comienzo slider " index"*/
.slider {
  overflow: hidden;
}

.slider {
  height: 900px;
  width: 100%;
  margin-bottom: 60px;
}
.slider ul {
  display: flex;
  padding: 0;
  width: 700%;
  -webkit-animation: cambio 25s infinite alternate linear;
          animation: cambio 25s infinite alternate linear;
}
.slider li {
  width: 100%;
  list-style: none;
}
.slider img {
  width: 100%;
  height: 900px;
  background-size: cover;
  background-position: center;
}

@-webkit-keyframes cambio {
  0% {
    margin-left: 0;
  }
  15% {
    margin-left: 0;
  }
  20% {
    margin-left: -100%;
  }
  30% {
    margin-left: -100%;
  }
  35% {
    margin-left: -200%;
  }
  45% {
    margin-left: -200%;
  }
  50% {
    margin-left: -300%;
  }
  60% {
    margin-left: -300%;
  }
  65% {
    margin-left: -400%;
  }
  75% {
    margin-left: -400%;
  }
  80% {
    margin-left: -500%;
  }
  90% {
    margin-left: -500%;
  }
  95% {
    margin-left: -600%;
  }
  100% {
    margin-left: -600%;
  }
}

@keyframes cambio {
  0% {
    margin-left: 0;
  }
  15% {
    margin-left: 0;
  }
  20% {
    margin-left: -100%;
  }
  30% {
    margin-left: -100%;
  }
  35% {
    margin-left: -200%;
  }
  45% {
    margin-left: -200%;
  }
  50% {
    margin-left: -300%;
  }
  60% {
    margin-left: -300%;
  }
  65% {
    margin-left: -400%;
  }
  75% {
    margin-left: -400%;
  }
  80% {
    margin-left: -500%;
  }
  90% {
    margin-left: -500%;
  }
  95% {
    margin-left: -600%;
  }
  100% {
    margin-left: -600%;
  }
}
/* fin slider */
/* inicio cartas */
.titulo-awards {
  font-family: "Montserrat";
  text-align: center;
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 150px;
  background-color: #010101;
}
.titulo-awards h2 {
  background-image: url(https://media.giphy.com/media/26BROrSHlmyzzHf3i/giphy.gif);
  background-position: top left;
  background-size: cover;
  color: transparent;
  -moz-background-clip: text;
  -webkit-background-clip: text;
  text-transform: uppercase;
  font-size: 35px;
  line-height: 1;
  margin: 20px;
  cursor: pointer;
}

.fondo-carta {
  background-image: url("https://cdn.vox-cdn.com/thumbor/10xaPryPiEIOB0HldAmUP1wwJk4=/150x0:1770x1080/1400x1400/filters:focal(150x0:1770x1080):format(jpeg)/cdn.vox-cdn.com/uploads/chorus_image/image/44284738/the-game-awards-trophy-weta_1920.0.0.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top;
  background-attachment: fixed;
}

.contenedor-carta {
  max-width: 1100px;
  margin: auto;
  overflow: hidden;
}

.carta {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 40px;
  background-color: #111;
  padding: 20px;
  border-radius: 10px;
  margin-bottom: 40px;
  border: inset 2px #808080;
}
.carta img {
  width: 100%;
  height: 300px;
  border-radius: 10px;
}
.carta h3 {
  text-align: center;
  padding: 20px;
}

.titulo-carta {
  font-size: 20px;
  cursor: pointer;
}

.carta > div {
  padding: 20px;
}

.carta:nth-child(even) img {
  order: 2;
}

.texto-carta {
  opacity: 0.7;
}

.btnn {
  display: flex;
  justify-content: center;
  width: 25%;
  align-items: center;
  background-color: #494848;
  color: #fff;
  padding: 10px 0;
  margin-top: 10px;
  cursor: pointer;
  border-radius: 10px;
  margin: auto;
  transition: all 1s;
}

.btnn:hover {
  transform: scale(1.07);
  transition: all 1s;
  opacity: 0.8;
}

/* fin cartas */
/*  inico "tiendas" */
.contenedor {
  min-height: 600px;
  width: 100%;
  display: grid;
  padding: 20px;
  grid-gap: 10px;
  margin: 1.5rem;
}

.title-tienda h1 {
  font-size: 35px;
  line-height: 3;
  font-weight: 900;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.item {
  border: 3px solid #fff;
  filter: grayscale(0%);
  margin: 0;
  transition: all 1s;
}

.item:hover {
  transform: scale(1.04);
  transition: all 1s;
}

.item1 {
  background-size: cover;
  background-position: center;
}

.item2 {
  background-size: cover;
  background-position: center;
}

.item3 {
  background-size: cover;
  background-position: center;
}

.item4 {
  background-size: cover;
  background-position: center;
}

.item5 {
  background-size: cover;
  background-position: center;
}

.item7 {
  background-size: cover;
  background-position: center;
}

.item1 {
  background-image: url("https://image.api.playstation.com/vulcan/img/rnd/202111/0822/zDXM9K2cQiq0vKTDwF0TkAor.png");
}

.item2 {
  background-image: url("https://i.blogs.es/53a886/uncharted4/1366_2000.jpeg");
}

.item3 {
  background-image: url("https://www.hd-tecnologia.com/imagenes/articulos/2020/02/Seg%C3%BAn-un-estudio-League-Of-Legends-gener%C3%B3-m%C3%A1s-de-3-millones-de-toneladas-de-CO2-en-2019.jpg");
}

.item4 {
  background-image: url("https://hb.imgix.net/34d00dbb25a14ac6ce87956f5ff12b1692cfc203.jpeg?auto=compress,format&fit=crop&h=353&w=616&s=d497ac18c019604679313c031fd7c3a1");
}

.item5 {
  background-image: url("https://cdn.hobbyconsolas.com/sites/navi.axelspringer.es/public/styles/1200/public/media/image/2020/07/horizon-2-forbidden-west-2013847.jpg?itok=jWf3tCO9");
}

.item6 {
  background-image: url("https://i.ytimg.com/vi/E3Huy2cdih0/maxresdefault.jpg");
  background-size: cover;
  background-position: top;
}

.item7 {
  background-image: url("https://assets.nintendo.com/image/upload/c_pad,f_auto,h_613,q_auto,w_1089/ncom/es_MX/games/switch/m/minecraft-switch/hero?v=2021120802");
}

.item8 {
  background-image: url("https://i.blogs.es/dbfd92/150620-re8-tlqns/1366_2000.jpeg");
  background-size: cover;
  transition: all 1s;
}

.item8:hover {
  transform: scale(1.02);
  transition: all 1s;
}

/* fin galeria */
/* inicio "registro"*/
.fondo {
  background-image: url("https://www.pcmrace.com/wp-content/uploads/2016/04/outlast-2-01-10-16-1.jpg");
  background-attachment: fixed;
  background-position: bottom;
}

.registro {
  width: 400px;
  height: 500px;
  background-size: cover;
  padding: 30px;
  margin: auto;
  margin-bottom: 100px;
  margin-top: 100px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: #fff;
  font-size: 20px;
  box-shadow: #808080 0px 0px 40px;
  border-radius: 10px;
}
.registro h1 {
  font-size: 25px;
  text-shadow: 2px 2px 40px #000;
  margin-bottom: 30px;
  text-align: center;
  font-weight: 900;
  cursor: pointer;
}
.registro p {
  display: inline;
  text-align: center;
  height: 40px;
  text-align: center;
  font-size: 16px;
  line-height: 40px;
  margin-bottom: 15px;
}
.registro .boton {
  width: 100%;
  background: #972117;
  border: none;
  padding: 10px;
  color: #fff;
  margin: 16px 0;
  font-size: 16px;
  border: 3px solid #000;
  border-radius: 5px;
  transition: all 1s;
}
.registro .boton:hover {
  transform: scale(1.05);
}
.registro .registro a {
  color: #fff;
  text-decoration: none;
  align-items: center;
}
.registro .registro a:hover {
  color: #fff;
  text-decoration: underline;
}

.p_bug {
  margin-left: 100px;
}

.controls {
  width: 100%;
  background: #232522;
  padding: 10px;
  border-radius: 5px;
  margin-bottom: 10px;
  border: 3px solid #000;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 16px;
  color: #fff;
  transition: all 1s;
}

.controls:hover {
  transform: scale(1.05);
}

input::-moz-placeholder {
  color: #fff;
}

input:-ms-input-placeholder {
  color: #fff;
}

input::placeholder {
  color: #fff;
}

/* fin registro */
/* inicio de cuenta */
.fondo-cuenta {
  background: url("https://i0.wp.com/hipertextual.com/wp-content/uploads/2020/09/hipertextual-2020173707.jpg?fit=1200%2C675&ssl=1");
  background-size: cover;
  background-attachment: fixed;
}

.cuenta {
  width: 400px;
  height: 600px;
  background-size: cover;
  padding: 40px;
  margin: 60px auto;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: #fff;
  font-size: 20px;
  box-shadow: #fff 15px 15px 35px;
  border-radius: 10px;
}
.cuenta h1 {
  font-size: 25px;
  text-shadow: 2px 2px 40px #000;
  margin-bottom: 20px;
  text-align: center;
  font-weight: 900;
  cursor: pointer;
}
.cuenta p {
  display: inline;
  text-align: center;
}
.cuenta p {
  height: 40px;
  text-align: center;
  font-size: 16px;
  line-height: 40px;
  margin-bottom: 15px;
}
.cuenta a {
  color: #fff;
  text-decoration: none;
  align-items: center;
  transition: all 1s;
}
.cuenta a:hover {
  color: #fff;
  text-decoration: underline;
}
.cuenta .boton-cuenta {
  width: 100%;
  background: #6c939e;
  border: none;
  padding: 10px;
  color: #fff;
  margin: 16px 0;
  font-size: 16px;
  border: 3px solid #323942;
  border-radius: 5px;
  transition: all 1s;
}
.cuenta .boton-cuenta:hover {
  transform: scale(1.05);
}

.p_bug-cuenta {
  margin-left: 80px;
}

.controls-cuenta {
  width: 100%;
  background: #000;
  padding: 10px;
  border-radius: 5px;
  margin-bottom: 10px;
  border: 2px solid #f4c900;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 16px;
  color: #fff;
  transition: all 1s;
}

.controls-cuenta:hover {
  transform: scale(1.05);
}

input::-moz-placeholder {
  color: #fff;
}

input:-ms-input-placeholder {
  color: #fff;
}

input::placeholder {
  color: #fff;
}

/* fin de cuenta  */
/* inicio tyc */
.contenedortyc {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 100%;
  font-family: none;
  color: #000;
  background-color: #fff;
}
.contenedortyc h1 {
  padding: 30px;
}
.contenedortyc p {
  padding: 10px;
}

form p a:hover {
  text-decoration: underline !important;
}

.num-tyc {
  margin-right: 10px;
}

/* fin tyc */
/* inicio tarjeta */
.wrap {
  width: 300px;
  margin: 50px auto;
  display: flex;
  justify-content: center;
}

.tarjeta-wrap {
  margin: 10px;
}

.tarjeta {
  width: 350px;
  height: 400px;
  position: relative;
  transform-style: preserve-3d;
  transition: 0.7s ease;
}

.adelante1, .atras {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.adelante {
  width: 100%;
}

.adelante {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 15px;
}
.adelante p {
  height: 50px;
  padding: 5px 10px;
  background-color: #494848;
  border: solid 3px #000;
  border-radius: 5px;
  opacity: 0.8;
  font-size: 20px;
  text-align: center;
  align-items: center;
  font-weight: 600;
}

.atras {
  transform: rotateY(180deg);
  padding: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: #fff;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 14px;
  background: #111;
}

.tarjeta-wrap:hover .tarjeta {
  transform: rotateY(180deg);
}

.card1 {
  background-image: url("https://images.pexels.com/photos/1353029/pexels-photo-1353029.jpeg?auto=compress&cs=tinysrgb&h=650&w=940 940w, https://images.pexels.com/photos/1353029/pexels-photo-1353029.jpeg?auto=compress&cs=tinysrgb&h=750&w=1260 1260w, https://images.pexels.com/photos/1353029/pexels-photo-1353029.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940 1880w, https://images.pexels.com/photos/1353029/pexels-photo-1353029.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260 2520w");
  background-size: cover;
  background-position: left;
  border-radius: 5px;
}

.card2 {
  background-image: url("https://images.pexels.com/photos/3829175/pexels-photo-3829175.jpeg?auto=compress&cs=tinysrgb&h=650&w=940 940w, https://images.pexels.com/photos/3829175/pexels-photo-3829175.jpeg?auto=compress&cs=tinysrgb&h=750&w=1260 1260w, https://images.pexels.com/photos/3829175/pexels-photo-3829175.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940 1880w, https://images.pexels.com/photos/3829175/pexels-photo-3829175.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260 2520w");
  background-size: cover;
  background-position: bottom;
  border-radius: 5px;
}

.card3 {
  background-image: url("https://images.pexels.com/photos/4824424/pexels-photo-4824424.jpeg?auto=compress&cs=tinysrgb&h=650&w=940 940w, https://images.pexels.com/photos/4824424/pexels-photo-4824424.jpeg?auto=compress&cs=tinysrgb&h=750&w=1260 1260w, https://images.pexels.com/photos/4824424/pexels-photo-4824424.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940 1880w, https://images.pexels.com/photos/4824424/pexels-photo-4824424.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260 2520w");
  background-size: cover;
  background-position: bottom;
  border-radius: 5px;
}

.tarjeta-nombre1 {
  color: #abcfdf;
}

.tarjeta-nombre2 {
  color: #e86f72;
}

.tarjeta-nombre3 {
  color: #c7baa3;
}

footer {
  width: 100%;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
footer p {
  color: #999;
  line-height: 25px;
}
footer h4 {
  color: #fff;
  font-size: 20px;
}

.footer-top {
  background-color: #111;
  padding: 80px 0;
}

.segment-one h4 {
  font-family: "Permanent Marker", cursive;
  color: #fff;
  letter-spacing: 3px;
  margin: 10px 0;
  text-align: center;
  cursor: pointer;
  transition: all 1s;
}

.segment-one h4:hover {
  transform: scale(1.2);
  transition: all 1s;
}

.segment-one p {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  text-align: center;
}

.segment-two h4 {
  color: #fff;
  text-transform: capitalize;
  letter-spacing: 3px;
  margin: 10px 0;
  cursor: pointer;
}

.segment-three h4 {
  color: #fff;
  text-transform: capitalize;
  letter-spacing: 3px;
  margin: 10px 0;
  cursor: pointer;
}

.segment-three a {
  padding: 12px;
  background: #494848;
  width: 50px;
  height: 50px;
  display: inline-block;
  border-radius: 50%;
}

.segment-three a i {
  font-size: 25px;
  color: #fff;
}

.facebook i {
  color: #fff;
  font-size: 30px;
  transition: all 1s;
}

.facebook i:hover {
  color: #3b5998;
  transform: scale(1.5);
  transition: all 1s;
}

.instagram i {
  color: #fff;
  font-size: 30px;
  border-radius: 45%;
  transition: all 1s;
}

.instagram i:hover {
  background: radial-gradient(circle at 33% 100%, #fed373 4%, #f15245 30%, #d92e7f 62%, #9b36b7 85%, #515ecf);
  transform: scale(1.5);
  transition: all 1s;
  border-radius: 45%;
}

.twitter i {
  color: #fff;
  font-size: 30px;
  transition: all 1s;
}

.twitter i:hover {
  color: #1d9bf0;
  transform: scale(1.5);
  transition: all 1s;
}

.linkedin i {
  color: #fff;
  font-size: 28px;
  transition: all 1s;
}

.linkedin i:hover {
  color: #2561a9;
  transform: scale(1.5);
  transition: all 1s;
}

.segment-four h4 {
  color: #fff;
  text-transform: capitalize;
  letter-spacing: 3px;
  margin: 10px 0;
  cursor: pointer;
}

.segment-two h4::before {
  content: "|";
  font-weight: 900;
  color: #ff0000;
  padding-right: 10px;
}

.segment-three h4::before {
  content: "|";
  font-weight: 900;
  color: #ff0000;
  padding-right: 10px;
}

.segment-four h4::before {
  content: "|";
  font-weight: 900;
  color: #ff0000;
  padding-right: 10px;
}

.segment-four p {
  cursor: pointer;
}

.footer-bottom-text {
  background-color: #000;
  text-align: center;
  line-height: 75px;
  cursor: pointer;
  margin-bottom: 0;
  font-size: 12px;
}

.subir {
  height: 50px;
  width: 50px;
  background-color: #000;
  border: 3px solid #fff;
  border-radius: 50%;
  position: fixed;
  right: 20px;
  bottom: 20px;
  text-align: center;
  align-items: center;
  border: #0088a9 solid 3px;
  transition: all 1s;
}

.subir i {
  color: #fff;
  font-size: 30px;
  line-height: 45px;
  font-weight: bold;
}

.subir:hover {
  transform: scale(1.1);
  transition: all 1s;
}

/* fin footer */
/* TODAS media queires  */
@media only screen and (min-width: 320px) and (max-width: 599px) {
  .contenedor-title h1 {
    font-size: 18px;
    margin-bottom: 40px;
  }
  .boton-nav a button {
    font-size: 12px;
  }
  .span1 {
    font-size: 16px;
    padding: 10px;
  }
  .checkbtn {
    display: block;
  }
  .nav__links {
    flex-direction: column;
    z-index: 1;
  }
  .nav__links li,
a {
    margin: 50px 0;
  }
  .nav__links a {
    font-size: 16px;
  }
  nav ul {
    position: fixed;
    width: 100%;
    height: 100vh;
    background: #111;
    top: 100px;
    left: -100%;
    text-align: center;
    transition: all 0.5s;
  }
  nav ul li {
    display: block;
    margin: 50px 0;
    line-height: 30px;
  }
  nav ul li a {
    font-size: 10px;
  }
  li a:hover,
li a.active {
    background: none;
  }
  #check:checked ~ ul {
    left: 0;
  }
  .linkno {
    display: none;
  }
  /* slider */
  .contenedor-title {
    height: 100px;
  }
  .slider {
    height: 250px;
    width: 100%;
    margin-bottom: 30px;
  }
  .slider img {
    height: 250px;
  }
  /* cartas */
  .titulo-awards h2 {
    font-size: 25px;
    margin-top: 50px;
  }
  .titulo-carta {
    font-size: 16px;
  }
  .texto-carta {
    font-size: 12px;
  }
  .carta img {
    height: 250px;
  }
  .carta {
    display: block;
  }
  .btnn {
    padding: 5px;
    margin-top: 5px;
    font-size: 14px;
  }
  /* tienda */
  .title-tienda h1 {
    height: 50px;
    font-size: 25px;
    line-height: 3;
    cursor: pointer;
  }
  .title-tienda h1 {
    font-family: "Bebas Neue", cursive;
    font-weight: 900;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .contenedor {
    grid-template-columns: repeat(2, 1fr);
  }
  .item1 {
    grid-column: 1/2;
    grid-row: 1/3;
    background-size: cover;
    background-position: right;
  }
  .item6 {
    grid-column: 1/3;
    grid-row: 6/7;
    background-size: cover;
    background-position: top;
  }
  .item5 {
    grid-column: 2/3;
    grid-row: 3/5;
  }
  .item8 {
    grid-column: 1/3;
    grid-row: 5/6;
    background-position: bottom;
  }
  .contenedor {
    grid-template-columns: repeat(2, 1fr);
  }
  .item1 {
    grid-column: 1/2;
    grid-row: 1/3;
    background-position: left;
  }
  .item8 {
    grid-column: 1/3;
    grid-row: 5/6;
    background-position: bottom;
  }
  .precio {
    width: 100%;
    padding: 3px;
    font-size: 12px;
  }
  /* registro */
  .fondo {
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
  }
  .registro h1 {
    font-size: 20px;
  }
  .registro {
    width: 300px;
    height: 400px;
    background-size: cover;
    background-position: center;
    padding: 40px;
    margin: 50px auto;
    margin-top: 80px;
    font-size: 14px;
  }
  .controls {
    width: 100%;
    padding: 5px;
    border-radius: 5px;
    margin-bottom: 10px;
    font-size: 12px;
  }
  form .letra {
    font-size: 14px;
  }
  form .p_bug {
    margin-left: 40px;
  }
  .registro .boton {
    width: 100%;
    padding: 5px;
    margin: 10px 0;
    font-size: 14px;
    border-radius: 5px;
  }
  /* cuenta */
  .fondo-cuenta {
    background-position: center;
  }
  .cuenta {
    width: 300px;
    height: 500px;
    padding: 40px;
    font-size: 14px;
  }
  .cuenta h1 {
    font-size: 20px;
  }
  .cuenta .boton-cuenta {
    width: 100%;
    padding: 5px;
    margin: 10px 0;
    font-size: 14px;
    border-radius: 5px;
  }
  .controls-cuenta {
    width: 100%;
    padding: 5px;
    border-radius: 5px;
    margin-bottom: 10px;
    font-size: 12px;
  }
  form .letra-cuenta {
    font-size: 12px;
  }
  form .p_bug-cuenta {
    margin-left: 40px;
  }
  .wrap {
    width: 300px;
    margin: 50px auto;
    display: flex;
    justify-content: center;
    flex-flow: wrap row;
  }
  .tarjeta-wrap {
    margin: 10px;
  }
  .tarjeta {
    width: 300px;
    height: 350px;
    position: relative;
    transform-style: preserve-3d;
    transition: 0.7s ease;
  }
  .adelante,
.atras {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
  }
  .adelante {
    width: 100%;
  }
  .atras {
    transform: rotateY(180deg);
    padding: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #fff;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 12px;
    background: #111;
  }
  .tarjeta-wrap:hover .tarjeta {
    transform: rotateY(180deg);
  }
  /* footer */
  footer p {
    line-height: 15px;
    font-size: 12px;
  }
  footer h4 {
    font-size: 15px;
  }
  .footer-top {
    padding: 30px 0;
  }
  .segment-one h4 {
    letter-spacing: 1px;
    margin: 10px 0;
  }
  .segment-two h4 {
    letter-spacing: 1px;
    margin: 10px 0;
  }
  .segment-three h4 {
    letter-spacing: 1px;
    margin: 0;
  }
  .segment-three a {
    padding: 7px;
    width: 35px;
    height: 35px;
    display: inline-block;
    border-radius: 50%;
  }
  .segment-three a i {
    font-size: 20px;
  }
  .segment-four h4 {
    letter-spacing: 2px;
    margin: 10px 0;
  }
  .footer-bottom-text {
    text-align: center;
    line-height: 50px;
    font-size: 10px;
  }
  .subir {
    height: 30px;
    width: 30px;
    text-align: center;
    align-items: center;
  }
  .subir i {
    font-size: 16px;
    line-height: 26px;
  }
}
@media only screen and (min-width: 600px) and (max-width: 768px) {
  /* nav */
  .logo {
    height: 40px;
    font-size: 50px;
  }
  .checkbtn {
    display: block;
  }
  nav ul {
    position: fixed;
    width: 100%;
    height: 100vh;
    background: #111;
    top: 100px;
    left: -100%;
    text-align: center;
    transition: all 0.5s;
  }
  nav ul li {
    display: block;
    margin: 50px 0px;
    line-height: 30px;
  }
  .nav__links {
    flex-direction: column;
    z-index: 1;
  }
  .nav__links li,
a {
    margin: 50px 0;
  }
  li a:hover,
li a.active {
    background: none;
  }
  #check:checked ~ ul {
    left: 0;
  }
  .linkno {
    display: none;
  }
  /* slider */
  main h2 {
    font-size: 18px;
  }
  .textoslider {
    font-size: 14px;
  }
  .slider {
    height: 350px;
    width: 100%;
  }
  .slider img {
    height: 350px;
  }
  /* cartas */
  .carta {
    display: block;
  }
  .titulo-awards h2 {
    font-size: 30px;
    margin-top: 50px;
  }
  .titulo-carta {
    cursor: pointer;
    font-size: 20px;
  }
  .texto-carta {
    font-size: 15px;
  }
  .carta img {
    height: 350px;
  }
  .carta {
    display: block;
  }
  .btnn {
    padding: 7px;
    margin-top: 7px;
    font-size: 16px;
  }
  /* tienda */
  .contenedor {
    grid-template-columns: repeat(4, 1fr);
  }
  .item2 {
    grid-column: 2/4;
    grid-row: 1/2;
  }
  .item6 {
    grid-column: 3/5;
    grid-row: 2/3;
  }
  .item7 {
    grid-column: 1/3;
    grid-row: 3/4;
  }
  .item8 {
    grid-column: 3/5;
  }
  /* registro */
  .fondo {
    background-size: cover;
    background-position: bottom right;
  }
  main h2 {
    font-size: 30px;
  }
  .registro h1 {
    font-size: 22px;
  }
  .registro {
    width: 350px;
    height: 450px;
    background-size: cover;
    padding: 30px;
    margin: 120px auto;
    margin-top: 90px;
    font-size: 18px;
  }
  .controls {
    width: 100%;
    padding: 7.5px;
    border-radius: 5px;
    margin-bottom: 12px;
  }
  form .letra {
    font-size: 15px;
  }
  form .p_bug {
    margin-left: 80px;
  }
  .registro .boton {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    font-size: 16px;
    border-radius: 5px;
  }
  /* cuenta */
  .fondo-cuenta {
    background-position: center;
  }
  .cuenta h1 {
    font-size: 30px;
  }
  .cuenta {
    width: 350px;
    height: 550px;
    padding: 30px;
    margin: 50px auto;
    margin-top: 90px;
    font-size: 18px;
  }
  .controls-cuenta {
    width: 100%;
    padding: 7.5px;
    border-radius: 5px;
    margin-bottom: 12px;
  }
  form .letra-cuenta {
    font-size: 15px;
  }
  form .p_bug-cuenta {
    margin-left: 60px;
  }
  .cuenta .boton-cuenta {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    font-size: 16px;
    border-radius: 5px;
  }
  .wrap {
    width: 300px;
    margin: 50px auto;
    display: flex;
    justify-content: center;
    flex-flow: wrap row;
  }
  .tarjeta-wrap {
    margin: 10px;
  }
  .tarjeta {
    width: 450px;
    height: 350px;
    position: relative;
    transform-style: preserve-3d;
    transition: 0.7s ease;
  }
  .adelante,
.atras {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
  }
  .adelante {
    width: 100%;
  }
  .atras {
    transform: rotateY(180deg);
    padding: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #fff;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background: #111;
  }
  .tarjeta-wrap:hover .tarjeta {
    transform: rotateY(180deg);
  }
  /* footer */
  footer p {
    line-height: 15px;
    font-size: 12px;
  }
  footer h4 {
    font-size: 15px;
  }
  .footer-top {
    padding: 30px 0;
  }
  .segment-one h4 {
    letter-spacing: 1px;
    margin: 10px 0;
  }
  .segment-two h4 {
    letter-spacing: 1px;
    margin: 10px 0;
  }
  .segment-three h4 {
    letter-spacing: 1px;
    margin: 0;
  }
  .segment-three a {
    padding: 7px;
    width: 35px;
    height: 35px;
    display: inline-block;
    border-radius: 50%;
  }
  .segment-three a i {
    font-size: 20px;
  }
  .segment-four h4 {
    letter-spacing: 2px;
    margin: 10px 0;
  }
  .footer-bottom-text {
    text-align: center;
    line-height: 50px;
    font-size: 12px;
  }
  .subir {
    height: 40px;
    width: 40px;
    text-align: center;
    align-items: center;
  }
  .subir i {
    font-size: 25px;
    line-height: 35px;
  }
}
@media only screen and (min-width: 768px) {
  .contenedor {
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, 200px);
  }
  .item1 {
    grid-column: 1/2;
    grid-row: 1/3;
  }
  .item2 {
    grid-column: 2/3;
    grid-row: 1/2;
  }
  .item3 {
    grid-column: 3/4;
    grid-row: 1/2;
  }
  .item4 {
    grid-column: 4/5;
    grid-row: 1/3;
  }
  .item5 {
    grid-column: 2/3;
    grid-row: 2/4;
  }
  .item6 {
    grid-column: 3/4;
    grid-row: 2/3;
  }
  .item7 {
    grid-column: 1/2;
    grid-row: 3/4;
  }
  .item8 {
    background-position: center;
    grid-column: 3/5;
    grid-row: 3/4;
  }
}/*# sourceMappingURL=estilo.css.map */